
[client]
default-character-set=utf8
socket = /data/mysql/mysql.sock

[mysql]
default-character-set=utf8
socket = /data/mysql/mysql.sock

[mysqld]

port = 3306
server_id= 3306

basedir=/mysql
datadir=/data/mysql
socket = /data/mysql/mysql.sock
tmpdir = /data/mysql/tmp
log-bin = /data/mysql/log/mysql-bin

expire_logs_days = 30
max_connections=200
character-set-server=utf8
default-storage-engine=INNODB
lower_case_table_names=1
max_allowed_packet=16M

user = mysql


[mysqld_safe]
log-error = /data/mysql/error.log
pid-file = /data/mysql/mysql.pid
socket = /data/mysql/mysql.sock

